.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.main-content {
  width: 100vw;
  margin: 0;
  padding: 6rem 0 2rem;
  flex: 1 0 auto; /* Hace que el contenido principal ocupe el espacio disponible */
}

.main-content > * {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}